.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-group {
  margin-bottom: 30px; 
  color: rgb(0, 0, 0); /* Set the label text color to white */
  display: flex; /* Add display: flex */ 
  flex-direction: column;
  align-items: flex-start;
}
.twitter{
  margin-bottom: 50px;
  position: relative
}

.telegram{
  position: relative;
}
.icon {
  width: 20px;
  height: 20px;
  position: center;
  top: -15px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
}

.form-group2 {
  margin-bottom: 15px; 
  color: rgb(0, 0, 0); /* Set the label text color to white */
  display: flex; /* Add display: flex */ 
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  padding: 12px 90px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.App-header {
  background-color: #178c4e;
  background-image: url('./22.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.twitter-redirect-button {
  position: absolute;
  top: -15px;
  right: 20px;
  z-index: 1;
  visibility: visible; /* Ensure visibility */
  display: inline-block; /* Adjust display if needed */
  padding: 6px 15px;
  background-color: #1DA1F3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.telegram-redirect-button {
  position: absolute;
  top: -25px;
  right: 10px;
  z-index: 1;
  visibility: visible; /* Ensure visibility */
  display: inline-block; /* Adjust display if needed */
  padding: 6px 15px;
  background-color: #1DA1F3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
